.md-grid-container {
    height: 100%;
    margin: 0;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 1.85fr;
    gap: 0 0;
    grid-template-areas: "md-modal-heading" "md-modal-body";
}

.md-modal-heading {
    grid-area: md-modal-heading;
    padding: 16px;
    background-color: #0dd1ff;
    color: #3f485d;
    height: 100%;

}

.md-modal-heading h2{
    margin: 0;
    height: 100%;
    font-weight: bolder;
}


.md-modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas: "md-modal-left md-modal-right";
    grid-area: md-modal-body;
    background-color: white;
}

.md-modal-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0 0;
    grid-template-areas: "md-modal-right-top" "md-modal-right-bottom";
    grid-area: md-modal-right;
}

.md-modal-right-top {
    grid-area: md-modal-right-top;
    background-color: rgba(78,162,227,0.5);
    padding: 15px;
    border: 10px solid white;
    border-top: 20px solid white;
    border-right: 20px solid white;
    display: flex;
    align-items: center;
}

.row.header {
    flex: 0 1 auto;
}

.row.content {
    flex: 1 1 auto;
}

.md-modal-left {
    grid-area: md-modal-left;
    background-color: rgba(78,162,227,0.5);
    padding: 15px;
    border: 20px solid white;
    border-right: 10px solid white;
    display: flex;
    align-items: center;
}

.md-modal-right-bottom {
    grid-area: md-modal-right-bottom;
    background-color: rgba(78,162,227,0.5);
    padding: 15px;
    border: 10px solid white;
    border-bottom: 20px solid white;
    border-right: 20px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    display: none;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

/* Modal Content */
.modal-content {
    background-color: white;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 70%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.right{
    float:right;
}

.left{
    float:left;

}

.vertical-middle {
    display: flex;
    align-items: center;
    height: 100%;
}

.modal-image {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

#modal-right-bottom {
    height: 100%;
    width: 100%;
}


.modal-content a:link {
    color: darkblue;
    background-color: transparent;
    text-decoration: none;
}

.modal-content a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}

.modal-content a:hover,
.modal-content a:active {
    text-decoration: underline;
}


@media screen and (max-width: 900px) {
    .md-modal-body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "md-modal-left" "md-modal-right";
    }

    .modal-content {
        width: 95%;
        height: 80%;
    }

    .md-modal-right-top,
    .md-modal-left,
    .md-modal-right-bottom {
        padding: 10px 5px 10px 5px;
        border: 10px solid white;
    }
}
